.coin-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.coin {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer; 
}

.coin.disabled {
    opacity: 0.5; 
}

.coin img {
    width: 100px;
}

.coin p {
    margin-top: 5px;
}
