﻿#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

h1 {
    position: fixed;
    top: 55px;
    left: 0;
    background-color: white;
    padding: 10px 20px;
    margin: 0;
    text-align: left
}

.navbar {
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}


.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar-item {
    display: inline-block;
    margin-right: 20px;
}

    .navbar-item:last-child {
        margin-right: 0;
    }

.navbar-link {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

    .navbar-link:hover {
        background-color: #555;
    }


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1.5s;
}

